@font-face {
  font-family: 'Dubai Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Regular'), url('../fonts/dubai/Dubai-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Dubai Light';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Light'), url('../fonts/dubai/Dubai-Light.woff') format('woff');
}

@font-face {
  font-family: 'Dubai Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Medium'), url('../fonts/dubai/Dubai-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Dubai Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Bold'), url('../fonts/dubai/Dubai-Bold.woff') format('woff');
}