@keyframes p1Score {
  from {
    opacity: 0;
    left: 500px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes p2Score {
  from {
    opacity: 0;
    right: 500px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

.layout {
  width: 1800px;
  margin: 0 auto;
  position: relative;
  height: 40px;
  .overlay {
    position: fixed;
    width: 540px;
    height: 40px;
    z-index: 1;
  }
  .Player-1,
  .Player-2,
  .Rounds {
    color: #fff;
    z-index: 2;
    display: flex;
    position: absolute;
    height: 100%;
    font-size: 30px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
  }

  .Rounds {
    left: 50%;
    top: 50%;
    width: 540px;
    transform: translate(-50%, -50%);
    background: url("../img/shape.png") repeat;
    background-size: 25px;
    h3 {
      text-align: center;
      padding-top: 5px;
    }
    > .overlay {
      background: rgba(180, 145, 200, 0.5);
    }
  }

  .Player-1 {
    > .overlay {
      background: rgba(124, 82, 149, 0.5);
    }
    width: 540px;
    background: url("../img/shape.png") repeat;
    background-size: 25px;
    left: 0;
    overflow: hidden;
    &.skew {
      transform: skew(125deg);
    }

    .P1-name,
    .P1-country,
    .P1-score {
      position: absolute;
    }

    .P1-score {
      left: 500px;
      top: 50%;
      transform: skew(55deg) translateY(-50%);
    }

    .P1-country {
      left: 40px;
      transform: skew(55deg);
      img {
        width: 40px;
        object-fit: cover;
        height: 40px;
        border-radius: 50%;
      }
    }
    .P1-name {
      top: 50%;
      left: 120px;
      transform: skew(55deg) translateY(-50%);
    }
  }
  .Player-2 {
    > .overlay {
      background: rgba(188, 160, 220, 0.5);
    }
    width: 540px;
    background: url("../img/shape.png") repeat;
    background-size: 25px;
    right: 0;
    overflow: hidden;
    &.skew {
      transform: skew(-125deg);
    }

    .P2-name,
    .P2-country,
    .P2-score {
      position: absolute;
    }
    .P2-score {
      right: 500px;
      top: 50%;
      transform: skew(-55deg) translateY(-50%);
    }

    .P2-country {
      right: 40px;
      transform: skew(-55deg);
      img {
        width: 40px;
        object-fit: cover;
        height: 40px;
        border-radius: 50%;
      }
    }
    .P2-name {
      top: 50%;
      right: 120px;
      transform: skew(-55deg) translateY(-50%);
    }
  }

  .animation-time-P1 {
    animation: p1Score 250ms;
    left: 0;
    opacity: 1;
  }

  .animation-time-P2 {
    animation: p2Score 250ms;
    right: 0;
    opacity: 1;
  }

  .animation-time-P1,
  .animation-time-P2 {
    position: relative;
  
  }
}
