@import "./fonts.scss";
@import "./reset.scss";
@import "./scoreupdate.scss";
@import "./layout.scss";
@import "./login.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 20px auto;
  padding: 10px;
}

body {
  font-family: 'Dubai Regular';
}